<div id="postit">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html=>{:class=>"register-form"}) do |f| %>
  <h3>Register</h3>
	<strong>If you don't have a security code, contact <a href="#">GPPB</a>.</strong>
	<br class="clearfix">
	<br class="clearfix">
    <div class="form-inputs">
		<div class="row">
		<div class="span5">
    	<p>
    		<%= f.email_field :email, :placeholder=>"Email Address", :class=>"register_email" %>
    	</p>

		<p>
			<%= f.text_field :username, :placeholder=>"Username", :class=>"uname" %>
		</p>
    	<p>
    		<%= f.password_field :password, :class=>"register_pass", :placeholder=>"Password" %>
    	</p>
    	<p>
    		<%= f.password_field :password_confirmation, :class=>"register_conf_pass", :placeholder=>"Confirm Password" %>
    	</p>
    	
		</div>
		
		<div class="span5">
			<p>
				<%= f.select :agency_id, Agency.all.map{ |a| [a.name, a.id] }, :prompt=>"- Select Agency -" %>
			</p>
				<%= f.text_field :agency_code, :class=>"register_last_name", :placeholder=>"Security Code"%>
			<p>
			</p>
		
			<p>
	    		<%= f.text_field :first_name, :class=>"register_first_name", :placeholder=>"First Name" %>
	    	</p>
			
			<p>
				<%= f.text_field :last_name, :class=>"register_last_name", :placeholder=>"Last Name"%>
			</p>
			<%= f.submit "Sign up", :class=>"btn btn-primary" %>
		</div>
		</div>
    </div>
  <% end %>
</div>