<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">OPPCIS</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              	<% if !user_signed_in?%>
		         <li><a href="javascript:{}" data-section="2" id="join-button">Register</a></li>
		      <li><a href="javascript:{}" data-section="3" id="login-button">Login</a></li>
		        <% else %>
		      <li><a href="#" style="cursor:crosshair;"><%= current_user.email %></a></li>
		      <li><%= link_to "Logout", destroy_user_session_url, method: :delete,:confirm=>"Are you sure you want to log out?" %></li>
		      <% end %>
            </ul>
            <ul class="nav">
			  <% if user_signed_in? %>
		      <% if current_user.admin? %>
		      <% else %>
		        <li><%= link_to "PPMP's", project_procurement_management_plans_url %></li>
		      <% end %>
		      <%= admins_only do %>
		        <li><%= link_to "Admin", admin_root_url %></li>
		      <% end %>
		    </ul>
			<% else %>
		      <% end %>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

