<br class="clearfix">
<%= link_to "New Agency", new_agency_url, class: 'btn btn-primary pull-right' %>
<br class="clearfix">
<br class="clearfix">
<table class="table table-bordered table-striped table-hover" id="all-users">
<thead>
<tr>
	<th>Name</th>
	<th>Security Code</th>
	<th>Members</th>
	<th>Action</th>
</tr>
</thead>

<tbody>
	
	<% @agencies.each do |agency| %>
	  <tr>
	    <td><%= agency.name %></td>
	    <td><%= agency.security_code %></td>
	    <td><%= agency.users.count %></td>
	    <td>
	    	<%= link_to raw('<i class="icon-eye-open"></i>'), agency %>
	    	<%= link_to raw('<i class="icon-edit"></i>'), edit_agency_path(agency) %>
	    	<%= link_to  raw('<i class="icon-trash"></i>'), agency, method: :delete, data: { confirm: 'Are you sure?' } %>
	    </td>
	  </tr>
	<% end %>
</tbody>
</table>