<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @agency.name %>
</p>
<p>
  <b>Security code:</b>
  <%= @agency.security_code %>
</p>

<%= link_to 'Edit', edit_agency_path(@agency) %> |
<%= link_to 'Back', agencies_path %>

<br>
<%= link_to "Add User", new_agency_user_url(@agency) %>
<h5>list of all Users</h5>
<ul>
	<% @agency.users.each do |user| %>
	<li><%= user.email %></li>
	<% end %>
</ul>

<h5>list of all PPMP's</h5>
<ul>
	<% @agency.project_procurement_management_plans.each do |ppmp| %>
	<li><%= ppmp.name %></li>
	<% end %>
</ul>