<h1>Listing agency_types</h1>

<table class="table table-bordered table-striped table-hover">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agency_types.each do |agency_type| %>
  <tr>
    <td><%= agency_type.name %></td>
    <td><%= agency_type.description %></td>
    <td><%= link_to 'Show', agency_type %></td>
    <td><%= link_to 'Edit', edit_agency_type_path(agency_type) %></td>
    <td><%= link_to 'Destroy', agency_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Agency type', new_agency_type_path %>
