<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @agency_type.name %>
</p>

<p>
  <b>Description:</b>
  <%= @agency_type.description %>
</p>


<%= link_to 'Edit', edit_agency_type_path(@agency_type) %> |
<%= link_to 'Back', agency_types_path %>
