<br class="clearfix">
<center><h4>List of all Users</h4></center>
<table class="table table-bordered table-striped table-hover" id="all-users">
	<thead>
		<tr>
			<th>Fullname</th>
			<th>Email</th>
			<th>Username</th>
			<th>Agency</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.fullname %></td>
			<td><%= link_to user.email, [:admin, user] %></td>
			<td><%= user.username %></td>
			<td><%= user.agency %></td>
			<td>
				<%= link_to raw('<i class="icon-edit"></i>'), '#' %>
				<%= link_to raw('<i class="icon-trash"></i>'), '#' %>
			</td>
		</tr>
		<% end %>
</tbody>
</table

<!--html to ruby  use raw | ruby to html use #{}-->