<h1>Listing project_procurement_management_plans</h1>
<%= link_to 'New Project procurement management plan', new_project_procurement_management_plan_path %>
<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>User</th>
    <th>Agency</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% current_user.agency.project_procurement_management_plans.each do |ppmp| %>
  <tr>
    <td><%= ppmp.name %></td>
    <td><%= ppmp.user.email %></td>
    <td><%= ppmp.agency.name %></td>
    <td> <center> <%= link_to  raw('<i class="icon-eye-open"></i>'), ppmp %></center></td>
    <td><center><%= link_to  raw('<i class="icon-edit"></i>'), [:edit, ppmp] %></center></td>
    <td><center><%= link_to  raw('<i class="icon-trash"></i>'), ppmp, method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
  </tr>
<% end %>
</table>

<br />



