<p id="notice"><%= notice %></p>

<p>
	<h4><b><%= @project_procurement_management_plan.ppmp_form_name %></b></h4>
</p>

<p>
	<b>General Description:</b>
	<%= @project_procurement_management_plan.description %>
</p>

<p>
  <b>User:</b>
  <%= @project_procurement_management_plan.user.email %>
</p>

<p>
  <b>Agency:</b>
  <%= @project_procurement_management_plan.agency.name %>
</p>

<%= render 'projects' %>


<%= link_to 'Edit', edit_project_procurement_management_plan_path(@project_procurement_management_plan), :class=>"btn btn-primary" %>
<%= link_to 'Back', project_procurement_management_plans_path, :class=>"btn"%>
