<br class="clearfix"/>
<div id="form-body">
<p id="notice"><%= notice %></p>

<p>
	<div id="ppmp-form-title"><center><h4><b><%= @project_procurement_management_plan.ppmp_form_name %></b></h4></center></div>
</p>

<p>
	<b>Period Covered:</b>
	<%= @project_procurement_management_plan.ppmp_period_covered_start.try(:strftime,'%b %m,%y') %> to 	
	<%= @project_procurement_management_plan.ppmp_period_covered_end.try(:strftime,'%b %m,%y') %>
</p>

<p>
	<b>General Description:</b>
	<% if @project_procurement_plan.nil?%>
	N/A
	<%else%>
	<%= @project_procurement_management_plan.description%>
	<% end %>
</p>

<p>
  <b>Submitted By:</b>
  <%= @project_procurement_management_plan.user.email %>
</p>

<p>
  <b>Name of Agency:</b>
  <%= @project_procurement_management_plan.agency.name %>
</p>


<%= render 'projects' %>



<a href="#" onclick="window.print();return false;" class="btn btn-primary">Print</a>
<a href="#" onclick="alert('Export me!')" class="btn btn-primary">Export to PDF</a> 
<a href="#" onclick="alert('Export me!')" class="btn btn-primary">Export to Excel</a> 
<a href="#" onclick="alert('Attach me!')" class="btn btn-primary">Attach File</a> 
<%= link_to 'Edit', edit_project_procurement_management_plan_path(@project_procurement_management_plan), :class=>"btn btn-primary pull-right" %>
<br class="clearfix"/>

</div>
<br class="clearfix"/>
<%= link_to 'Back', project_procurement_management_plans_path, :class=>"btn btn-mini"%>
