<!DOCTYPE html>
<html>
<head>
  <title>Gppbv2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul>
	<% if user_signed_in? %>
	<li><%= current_user.email %></li>
	<li><%= link_to "Logout", destroy_user_session_url, method: :delete %></li>
	<% else %>
	<li><%= link_to "Login", new_user_session_url %></li>
	<li><%= link_to "Register", new_user_registration_url %></li>
	<% end %>
</ul>
	<%= admins_only do %>
	<li><%= link_to "Admin", admin_root_url %></li>
	<% end %>
<ul>
	<li><%= link_to "Agency", agencies_url %></li>
</ul>
<%= yield %>

</body>
</html>
