<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= full_title(yield(:title)) %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class = "row">
      <section class="slide" id="login" data-section="3" class="span12">
        <div class="container" id="slide-container">
          <div class="pull-right">
            <a href="javascript:{}" data-section="1" class="close-icon" id="hide-login-button">X</a>
          </div>
          <% if user_signed_in? %>

          <% else %>
          <%= render 'devise/sessions/form' %>
          <% end %>
        </div>
      </section>

      <section class="slide" id="forgot" data-section="3" class="span12">
        <div class="container" id="slide-container">
          <div class="pull-right">
             <a href="javascript:{}" data-section="1" class="close-icon" id="hide-forgot-password">X</a>
          </div>
          <% if user_signed_in? %>

          <% else %>
          <%= render 'devise/passwords/form' %>
          <% end %>
        </div>
      </section>

      <section class="slide" id="register" data-section="3" class="span12 login-window">
      <div class="container" id="slide-container">
            <div class="pull-right">
            <a href="javascript:{}" data-section="1" class="close-icon" id="hide-join-button">X</a>
          </div>
          <% if user_signed_in? %>

          <% else %>
          <%= render 'devise/registrations/form' %>
          <% end %>
      </div>  
      </section>
      <%= render 'layouts/shared/header' %>
      <%= render 'layouts/shared/alert' %>
      
    </div>

	<div class="container-fluid" id="body">
        <%= yield %>
    </div>

    <script type="text/javascript">
    $("#login-button").click(function(){
      if ($("#login").is(":hidden")) {
        $("#register").slideUp("slow");
        $("#forgot").slideUp("slow");
        $("#login").slideDown("slow");} 
      else {
      $("#login").slideUp("slow");
      $("#register").hide();}
    });

    $("#back-to-login").click(function(){
      if ($("#login").is(":hidden")) {
        $("#register").slideUp("slow");
        $("#forgot").slideUp("slow");
        $("#login").slideDown("slow");} 
      else {
      $("#login").slideUp("slow");
      $("#register").hide();}
    });

    $("#hide-login-button").click(function(){
      $("#login").slideUp("slow");
    });

    $("#hide-join-button").click(function(){
      $("#register").slideUp("slow");
    });

    $("#hide-forgot-password").click(function(){
    $("#forgot").slideUp("slow");
    });

    $("#join-button").click(function(){
    if ($("#register").is(":hidden")) {
      
      $("#login").slideUp("slow");
      $("#forgot").slideUp("slow");
      $("#register").slideDown("slow");}
    else {
      $("#login").hide();
      $("#register").slideUp("slow");}
    });
    
    $("#forgot-button").click(function(){
    if ($("#forgot").is(":hidden")) {
      $("#login").slideUp("slow");
      $("#register").slideUp("slow");
      $("#forgot").slideDown("slow");}
    else {
      $("#login").hide();
      $("#register").hide();
      $("#forgot").slideUp("slow");}
    });
  </script>
</body>
</html>

